.item-menu {
    color: rgb(187, 32, 21);
    font-size: 40px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif ; 
    margin-left: 15px;
    margin-right: 15px;
    
    
}
#menu{
    display: flex;
    justify-content: center;
}